
<div class="row">
  <div class="form-horizontal col-xs-2"><%= bottle.purchased_from %></div>
  <div class="form-horizontal col-xs-2"><%= number_to_currency(bottle.purchase_price, precision: 2) %></div>
  <div class="form-horizontal col-xs-2"><%= bottle.location %></div>
  <div class="form-horizontal col-xs-2"><%= date_or_nil(bottle.purchase_date) %></div>
  <div class="form-horizontal col-xs-1"><%= date_or_nil(bottle.consumed_date) %></div>
  <div class="form-horizontal col-xs-1">
    <%= link_to 'Delete', [bottle.wine, bottle], method: :delete, data: {confirm: 'Are you sure?'}, :style => "color:red" %>
  </div>
</div>


