<% provide(:title, "Edit Bottle") %>
<h1 class="h4">Edit Bottle</h1>

<%= form_for ([@bottle.wine, @bottle]) do |f| %>
    <div class="row">
      <div class="form-horizontal col-xs-2"><strong>Purchased From</strong></div>
      <div class="form-horizontal col-xs-2"><strong>Price</strong></div>
      <div class="form-horizontal col-xs-2"><strong>Location</strong></div>
      <div class="form-horizontal col-xs-2"><strong>Purchased</strong></div>
      <div class="form-horizontal col-xs-2"><strong>Consumed</strong></div>
    </div>

    <div class="row">
      <div class="form-horizontal col-xs-2"><%= f.text_field :purchased_from, :style => "color:black" %></div>
      <div class="form-horizontal col-xs-2"><%= f.number_field :purchase_price, :size => "9", :maxlength => "9",
                                                               :step => 0.01, :max => 99999.99, :style => "color:black",
                                                               :precision => number_with_precision(:purchase_price, :precision => 2) %>
      </div>

      <div class="form-horizontal col-xs-2"><%= f.text_field :location, :style => "color:black" %></div>
      <div class="form-horizontal col-xs-2"><%= f.date_field :purchase_date, options = {style: "height:26px; color:black"} %></div>
      <div class="form-horizontal col-xs-2"><%= f.date_field :consumed_date, options = {style: "height:26px; color:black"} %></div>
      <br>
      <br>
    </div>


    <button type="submit" class="btn btn-default btn-primary, style = black">
      Update Bottle
      <span class="glyphicon glyphicon-glass"></span>
    </button>


    <%= link_to :back, class: "btn btn-default btn-primary, style = black" do %>
        Back
        <span class="glyphicon glyphicon-glass"></span>
    <% end %>

    <%= link_to wines_path, class: "btn btn-default btn-primary, style = black" do %>
        All Wines
        <span class="glyphicon glyphicon-glass"></span>
    <% end %>

<% end %>
