<%= form_for @wine do |f| %>

    <% if @wine.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@wine.errors.count, "error") %> prohibited this article from being saved:
          </h2>
          <ul>
            <% @wine.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :winery, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :winery, class: "form-control", placeholder: "Winery" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :variety, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :variety, class: "form-control", placeholder: "Variety" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :vintage, class: "col-md-1 control-label" %>
        <div class="col-md-2">
          <%= f.text_field :vintage, class: "form-control", placeholder: "Vintage" %>
        </div>
        <%= f.label :non_vintage, class: "col-md-1 control-label" %>
        <div class="col-md-1">
          <%= f.check_box :non_vintage, class: "form-control", background: "Pink" %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :appellation, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :appellation, class: "form-control", placeholder: "Appellation" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :vineyard, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :vineyard, class: "form-control", placeholder: "Vineyard" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :winemaker, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :winemaker, class: "form-control", placeholder: "Winemaker" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label "Alcohol%", class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :alcohol_content, class: "form-control", placeholder: "Alcohol Content" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :color, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :color, class: "form-control", placeholder: "Color" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :bottle_size, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :bottle_size, class: "form-control", placeholder: "Bottle Size" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :country, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :country, class: "form-control", placeholder: "Country" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :maturity, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :maturity, class: "form-control", placeholder: "Maturity" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :drink_by, class: "col-md-1 control-label" %>
        <div class="col-md-11">
          <%= f.text_field :"drink_by", class: "form-control", placeholder: "DrinkBy" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label "My Notes", class: "col-md-6 text-center" %>
        <%= f.label "Other Notes", class: "col-md-4 text-center" %>
      </div>
    </div>
    <div class="row">
      <div class="form-horizontal">
        <%= f.text_area :my_notes, rows: 4, class: "col-md-offset-1 col-md-4" %>
        <%= f.text_area :other_notes, rows: 4, class: "col-md-offset-1 col-md-4" %>
      </div>
    </div>

    <div class="row">
      <div class="form-horizontal">
        <%= f.label :sparkling, class: "col-md-1 control-label" %>
        <div class="col-md-1">
          <%= f.check_box :sparkling, class: "form-control", placeholder: "Sparkling" %>
        </div>
        <%= f.label :dessert, class: "col-md-1 control-label" %>
        <div class="col-md-1"/>
        <%= f.check_box :dessert, class: "form-control", placeholder: "Desert" %>
      </div>
    </div>

    </br>

    <%= button_tag(type: 'submit', class: "btn btn-default btn-primary") do %>
        Submit<span class="glyphicon glyphicon-glass"></span>
    <% end %>

    <%= link_to :back, class: 'btn btn-primary' do %>
        Back
        <span class="glyphicon glyphicon-glass"></span>
    <% end %>
<% end %>

