<% provide(:title, "Show All Wines") %>
<h1>Wines</h1>

<table>
  <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.winery %></td>
        <td><%= wine.variety %></td>
        <td><%= wine.year %></td>
        <td><%= wine.appellation %></td>
        <td><%= wine.vineyard %></td>
        <td><%= link_to 'Show', wine_path(wine) %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine_path(wine),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Wine', new_wine_path %>