<% provide(:title, "Show All Wines") %>
<h1 class="h4">Wines</h1>

<%= search_form_for @q, url: search_wines_path, html: { method: :post } do |f| %>
    <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c %>
    <% end %>
    <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
    <div class="field">
      Sort:
      <%= f.sort_fields do |s| %>
          <%= s.sort_select %>
      <% end %>
      <%= link_to "remove", '#', class: "remove_fields" %>
    </div>
    <p><%= link_to_add_fields "Add Sort", f, :sort %></p>
    <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<!--<div class="table-responsive">-->
<table id="wines" class="table table-condensed">
  <tr>
    <th><%= sort_link @q, :winery, "Winery" %></th>
    <th><%= sort_link @q, :variety, "Variety" %></th>
    <th><%= sort_link @q, :vintage, "Vintage" %></th>
    <th><%= sort_link @q, :appellation, "Appellation" %></th>
    <th><%= sort_link @q, :vineyard, "Vineyard" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= paginate @wines %>
  <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.winery %></td>
        <td><%= wine.variety %></td>
        <td><%= wine.vintage %></td>
        <td><%= wine.appellation %></td>
        <td><%= wine.vineyard %></td>
        <td><%= link_to 'Show', wine_path(wine) %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td>
          <%= link_to 'Delete', wine_path(wine), :style => "color:yellow",
                      method: :delete, data: {confirm: 'Delete this wine and its bottles?'} %>
        </td>
      </tr>
  <% end %>
</table>
<!--</div>-->

<%= link_to new_wine_path, class: "btn btn-default btn-primary, foreground = black" do %>
    New Wine
    <span class="glyphicon glyphicon-glass"></span>
<% end %>
<%= paginate @wines %>

