<% provide(:title, "Show All Wines") %>
<h1 class="h4">Wines</h1>


<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Winery</th>
      <th>Variety</th>
      <th>Year</th>
      <th>Appellation</th>
      <th>Vineyard</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @wines.each do |wine| %>
        <tr>
          <td><%= wine.winery %></td>
          <td><%= wine.variety %></td>
          <td><%= wine.year %></td>
          <td><%= wine.appellation %></td>
          <td><%= wine.vineyard %></td>
          <td><%= link_to 'Show', wine_path(wine) %></td>
          <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
          <td>
            <%= link_to 'Delete', wine_path(wine),
                        method: :delete, data: {confirm: 'Are you sure?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to new_wine_path, class: 'btn btn-primary' do %>
    New Wine
    <span class="glyphicon glyphicon-glass"></span>
<% end %>

