<h1>New Wine</h1>

<%= form_for :wine, url: wines_path do |f| %>

    <p>
      <%= f.label :winery %>
      <%= f.text_field :winery %>
    </p>

    <p>
      <%= f.label :variety %>
      <%= f.text_field :variety %>
    </p>

    <p>
      <%= f.label :year %>
      <%= f.text_field :year %>
    </p>

    <p>
      <%= f.label :appellation %>
      <%= f.text_field :appellation %>
    </p>

    <p>
      <%= f.label :vineyard %>
      <%= f.text_field :vineyard %>
    </p>

    <p>
      <%= f.label :winemaker %>
      <%= f.text_field :winemaker %>
    </p>

    <p>
      <%= f.label :alcohol_content %>
      <%= f.text_field :alcohol_content %>
    </p>

    <p>
      <%= f.label :color %>
      <%= f.text_field :color %>
    </p>

    <p>
      <%= f.label :sparkling %>
      <%= f.text_field :sparkling %>
    </p>

    <p>
      <%= f.label :bottle_size %>
      <%= f.text_field :bottle_size %>
    </p>

    <p>
      <%= f.label :country %>
      <%= f.text_field :country %>
    </p>

    <p>
      <%= f.label :maturity %>
      <%= f.text_field :maturity %>
    </p>

    <p>
      <%= f.label :drink_by %>
      <%= f.text_field :drink_by %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>
