
<table>
  <col align="right">
  <col align="left">
  <tr><td align="right">Winery:</td><td><%= @wine.winery %></td></tr>
  <tr><td align="right">Variety:</td><td><%= @wine.variety %></td></tr>
  <tr><td align="right">Year:</td><td><%= @wine.year %></td></tr>
  <tr><td>Appellation:</td><td><%= @wine.appellation %></td></tr>
  <tr><td>Vineyard:</td><td><%= @wine.vineyard %></td></tr>
  <tr><td>Winemaker:</td><td><%= @wine.winemaker %></td></tr>
  <tr><td>Alcohol:</td><td><%= @wine.color %></td></tr>
  <tr><td>Color:</td><td><%= @wine.vineyard %></td></tr>
  <tr><td>Sparkling:</td><td><%= @wine.sparkling %></td></tr>
  <tr><td>Bottle Size:</td><td><%= @wine.bottle_size %></td></tr>
  <tr><td>Country:</td><td><%= @wine.country %></td></tr>
  <tr><td>Maturity:</td><td><%= @wine.maturity %></td></tr>
  <tr><td>Drink By:</td><td><%= @wine.drink_by %></td></tr>

</table>
