
<table>
  <col align="right">
  <col align="left">
  <tr><td align="right"><strong>Winery</strong>:</td><td><%= @wine.winery %></td></tr>
  <tr><td align="right">Variety:</td><td><%= @wine.variety %></td></tr>
  <tr><td align="right">Year:</td><td><%= @wine.year %></td></tr>
  <tr><td align="right">Appellation:</td><td><%= @wine.appellation %></td></tr>
  <tr><td align="right">Vineyard:</td><td><%= @wine.vineyard %></td></tr>
  <tr><td align="right">Winemaker:</td><td><%= @wine.winemaker %></td></tr>
  <tr><td align="right">Alcohol:</td><td><%= @wine.color %></td></tr>
  <tr><td align="right">Color:</td><td><%= @wine.vineyard %></td></tr>
  <tr><td align="right">Sparkling:</td><td><%= @wine.sparkling ? "\u2713" : " " %></td></tr>
  <tr><td align="right">Bottle Size:</td><td><%= @wine.bottle_size %></td></tr>
  <tr><td align="right">Country:</td><td><%= @wine.country %></td></tr>
  <tr><td align="right">Maturity:</td><td><%= @wine.maturity %></td></tr>
  <tr><td align="right">Drink By:</td><td><%= @wine.drink_by %></td></tr>

</table>

<%= link_to 'All Wines', wines_path %>
| <%= link_to 'Edit', edit_wine_path(@wine) %>