<p>
  <strong>Winery:</strong>
  <%= @wine.winery %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @wine.variety %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>Appellation:</strong>
  <%= @wine.appellation %>
</p>

<p>
  <strong>Vineyard:</strong>
  <%= @wine.vineyard %>
</p>

<p>
  <strong>Winemaker:</strong>
  <%= @wine.winemaker %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @wine.alcohol_content %>
</p>

<p>
  <strong>Color:</strong>
  <%= @wine.color %>
</p>

<p>
  <strong>Sparkling:</strong>
  <%= @wine.sparkling %>
</p>

<p>
  <strong>Bottle Size:</strong>
  <%= @wine.bottle_size %>
</p>

<p>
  <strong>Country:</strong>
  <%= @wine.country %>
</p>

<p>
  <strong>Maturity:</strong>
  <%= @wine.maturity %>
</p>

<p>
  <strong>Drink By:</strong>
  <%= @wine.drink_by %>
</p>

