<% provide(:title, "Show Wine") %>
<h1 class="h4">Show Wine</h1>

<div class="row">
  <div class="form-horizontal col-xs-2 text-right"><strong>Winery</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.winery %></div>
  <div class="form-horizontal col-xs-2 text-right"><strong>Winemaker</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.winemaker %></div>
</div>

<div class="row">
  <div class="form-horizontal col-xs-2 text-right"><strong>Variety</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.variety %></div>
  <div class="form-horizontal col-xs-2 text-right"><strong>Appellation</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.appellation %></div>
</div>

<div class="row">
  <div class="form-horizontal col-xs-2 text-right"><strong>Vineyard</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.vineyard %></div>
  <div class="form-horizontal col-xs-2 text-right"><strong>Year</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.year %></div>
</div>

<div class="row">
  <div class="form-horizontal col-xs-2 text-right"><strong>Color</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.color %></div>
  <div class="form-horizontal col-xs-2 text-right"><strong>Alcohol</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.alcohol_content %></div>
</div>

<div class="row">
  <div class="form-horizontal col-xs-2 text-right"><strong>Sparkling</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.sparkling %></div>
  <div class="form-horizontal col-xs-2 text-right"><strong>Bottle Size</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.bottle_size %></div>
</div>

<div class="row">
  <div class="form-horizontal col-xs-2 text-right"><strong>Maturity</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.maturity %></div>
  <div class="form-horizontal col-xs-2 text-right"><strong>Drink By</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.drink_by %></div>
</div>

<div class="row">
  <div class="form-horizontal col-xs-2 text-right"><strong>Country</strong></div>
  <div class="form-horizontal col-xs-4 text-left"><%= @wine.country %></div>
  <div class="form-horizontal col-xs-2 text-right"><strong>Dessert</strong></div>
  <div class="form-horizontal col-xs-4 text-left">TBS</div>
</div>

<h4>Bottles</h4>
<div class="row">
  <div class="form-horizontal col-xs-2"><strong>Purchased From</strong></div>
  <div class="form-horizontal col-xs-2"><strong>Price</strong></div>
  <div class="form-horizontal col-xs-2"><strong>Purchased</strong></div>
  <div class="form-horizontal col-xs-2"><strong>Location</strong></div>
  <div class="form-horizontal col-xs-2"><strong>Consumed</strong></div>
</div>

<% @wine.bottles.each do |bottle| %>
    <div class="row">
      <div class="form-horizontal col-xs-2"><%= bottle.purchased_from %></div>
      <div class="form-horizontal col-xs-2"><%= number_to_currency(bottle.purchase_price, precision: 2) %></div>
      <div class="form-horizontal col-xs-2"><%= date_or_nil(bottle.purchase_date) %></div>
      <div class="form-horizontal col-xs-2"><%= bottle.location %></div>
      <div class="form-horizontal col-xs-2"><%= bottle.consumed_date.nil? ? nil : bottle.consumed_date.strftime("%x") %></div>
    </div>
<% end %>


  <h4>Add a bottle:</h4>

  <%= form_for ([@wine, @wine.bottles.build]) do |f| %>
      <table>
        <thead>
        <td align="center"><%= f.label :purchased_from, 'Purchased From' %></td>
        <td align="center"><%= f.label :price %></td>
        <td align="center"><%= f.label :purchased %></td>
        <td align="center"><%= f.label :location %></td>
        <td align="center"><%= f.label :consumed %></td>
        </thead>

        <tr>
          <td><%= f.text_field :purchased_from %></td>
          <td><%= f.number_field :purchase_price, :size => "9", :maxlength => "9", :step => 0.01, :max => 99999.99,
                                 :precision => number_with_precision(:purchase_price, :precision => 2) %></td>
          <td><%= f.date_field :purchase_date, options = {style: "height: 26px"} %></td>
          <td><%= f.text_field :location %></td>
          <td><%= f.date_field :consumed_date, options = {style: "height: 26px"} %></td>
        </tr>
      </table>
      <p>
        <%= f.submit %>
      </p>
  <% end %>

  <%= link_to edit_wine_path, class: 'btn btn-primary' do %>
      Edit Wine
      <span class="glyphicon glyphicon-glass"></span>
  <% end %>

  <%= link_to wines_path, class: 'btn btn-primary' do %>
      All Wines
      <span class="glyphicon glyphicon-glass"></span>
  <% end %>

</div>
